<html xmls="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head"><!-- Se va a definir un fragmento el cual se llamara head -->
        <title>Kējì</title>
        <meta charset="UTF-8">
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/js/rutinas.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <header th:fragment="header" class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
            <nav class="navbar navbar-expand">
                <div class="container-fluid">
                    <a th:href="@{/}" class="navbar-brand">[[#{aplicacion.titulo}]]</a>
                    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav" sec:authorize="hasRole('ROLE_VENDEDOR')">
                            <li class="nav-item px-2"><a class="nav-link" th:href="@{/categoria/listado}">[[#{plantilla.categorias}]]</a></li>
                            <li class="nav-item px-2"><a class="nav-link" th:href="@{/producto/listado}">[[#{plantilla.productos}]]</a></li>                           
                            <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                                <a class="nav-link dropdown-toggle" 
                                   data-bs-toggle="dropdown" 
                                   href="#" 
                                   role="button" 
                                   aria-expanded="false">[[#{plantilla.pruebas}]]</a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item"  th:href="@{/pruebas/listado}">[[#{plantilla.asociaciones}]]</a></li>
                                    <li><a class="dropdown-item"  th:href="@{/pruebas/listado2}">[[#{plantilla.consultas}]]</a></li>
                                    <li><a class="dropdown-item"  th:href="@{/usuario/listado}">[[#{plantilla.usuarios}]]</a></li>
                                    <li><a class="dropdown-item"  th:href="@{/reportes/principal}">[[#{plantilla.reportes}]]</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="navbar-nav" sec:authorize='!isAuthenticated()'>
                            <li class="nav-item px-2">
                                <a class="nav-link" th:href="@{/login}">
                                    <i class='fas fa-sign-in-alt'></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="navbar-nav" sec:authorize='isAuthenticated()'>
                            <li class="nav-item text-white my-auto">
                                <img th:src='@{${session.usuarioImagen}}' height="40" class="rounded-circle"/>
                                <span sec:authentication='name'>Jhon</span>
                            </li>
                            <li class="nav-item my-auto">
                                <form method="post"
                                      th:action='@{/logout}'>
                                    <button class="btn btn-dark">
                                        <i class='fas fa-sign-out-alt'></i>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </header>
        <footer th:fragment="footer" class="bg-info mt-5 p-2">
            <div class="container">
                <div class="col">
                    <p class="lead text-center"> <!--- texto centrado --->
                        &COPY;[[#{plantilla.derechos}]]
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>